In [27]:
import pandas as pd

In [28]:
''' 
1: Writer pandas series code to get following output without using dictionary:
a 1
x 4
c 9
2 6
e 7 '''    

series = pd.Series([1,4,9,6,7], index=['a', 'x', 'c', '2', 'e'])
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

In [29]:
''' 
2: Writer pandas series code to get following output using dictionary:
Bilal    42
Ayesha   38
Hadia    39
'''

data = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}
series = pd.Series(data)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

In [30]:
# dataframe using pandas

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [31]:
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

In [32]:
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)

print("Mean Temperature:", df['temperature'].mean())
print("Maximum Temperature:", df['temperature'].max())
print("Minimum Temperature:", df['temperature'].min())
temperature_max = df['temperature'].max()
temperature_min = df['temperature'].min()

Mean Temperature: 30.333333333333332
Maximum Temperature: 35
Minimum Temperature: 24

In [33]:
import pandas as pd

# Read the CSV file and specify columns to import
columns_to_import = ["First Name", "Sex", "Email", "Phone", "Job Title"]
df = pd.read_csv('people.csv', usecols=columns_to_import, skiprows=[1, 5])

# Set "Sex" and "Job Title" columns as index columns
df.set_index(["Sex", "Job Title"], inplace=True)

# Export the DataFrame to a new CSV file
df.to_csv('NewPeople.csv')

print("NewPeople.csv file has been created successfully.")

NewPeople.csv file has been created successfully.

In [34]:
import pandas as pd

# Read the Excel file and specify columns to import
columns_to_import = [0, -1]  # First and last columns
df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=columns_to_import, header=1, skiprows=[2])

# Export the DataFrame to a new Excel sheet
df.to_excel('NewSheet.xlsx', index=False)

print("NewSheet.xlsx file has been created successfully.")

NewSheet.xlsx file has been created successfully.

In [45]:
# Create the following dataframe as AICP_DF then implement different operations as described below:

data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': ['27', '24', '22', '32', '23'],
    'Address': ['Lahore', 'Karachi', 'Sialkot','Peshawar', 'lhr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'bsc'],
    
}

AICP_DF = pd.DataFrame(data)
print(AICP_DF)

    Name Age   Address Qualification
0  Sonia  27    Lahore           Msc
1  Bilal  24   Karachi            MA
2  Hifza  22   Sialkot           MCA
3  Kabir  32  Peshawar           Phd
4  Jazim  23       lhr           bsc

In [47]:
# select 'Name', 'Qualification' coloumns and save to df1

df1 = AICP_DF[['Name', 'Qualification']]
print(df1)

    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           bsc

In [48]:
# add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]

AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]
print(AICP_DF)

    Name Age   Address Qualification  Height
0  Sonia  27    Lahore           Msc     5.1
1  Bilal  24   Karachi            MA     6.2
2  Hifza  22   Sialkot           MCA     5.1
3  Kabir  32  Peshawar           Phd     5.2
4  Jazim  23       lhr           bsc     5.1

In [49]:
# set column “Name” as the index column.

AICP_DF.set_index('Name', inplace=True)
print(AICP_DF)

      Age   Address Qualification  Height
Name
Sonia  27    Lahore           Msc     5.1
Bilal  24   Karachi            MA     6.2
Hifza  22   Sialkot           MCA     5.1
Kabir  32  Peshawar           Phd     5.2
Jazim  23       lhr           bsc     5.1

In [39]:
# retrieve row with index “Hifza”

row_hifza = AICP_DF.loc['Hifza']
print(row_hifza)

Row with index 'Hifza':
Qualification    M.Sc
Height            6.2
Name: Hifza, dtype: object

In [40]:
# retrieve row with index 3

row_index_3 = AICP_DF.iloc[2]  # Indexing starts from 0, so index 3 is at position 2
print("\nRow with index 3:")
print(row_index_3)

Row with index 3:
Qualification    Ph.D
Height            5.1
Name: Bilal, dtype: object

In [41]:
# drop row with index “Bilal

AICP_DF.drop(index='Bilal', inplace=True)
print("\nAICP_DF after dropping row with index 'Bilal':")
print(AICP_DF)

AICP_DF after dropping row with index 'Bilal':
      Qualification  Height
Name
Ali            B.Sc     5.1
Hifza          M.Sc     6.2
Ahmed           MBA     5.2
Sana           B.Sc     5.1